{{define "base"}}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Messenger</title>
    </head>
    <body>
        <header>
            <h2>Messenger</h2>
        </header>
        <main>
            {{template "main".}}
        </main>
    </body>
</html>
{{end}}